.checkout-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-main h1 {
  align-self: start;
  margin-top: 3rem;
  margin-left: 18.5rem;
}

.shopping-cart,
.shipping-billing-info,
.shipping-method,
.payment-method {
  background-color: var(--color-white);
  max-width: 1300px;
  padding: 1rem;
}

.cart-container h2 {
  color: var(--color-blue);
}

.cart-container p,
.cart-container label {
  font-weight: var(--weight-large);
}

.cart-container hr {
  background-color: var(--color-blue);
  opacity: 0.6;
  width: 100%;
}

.shipping-method label,
.payment-method label {
  color: var(--color-blue);
}

.shipping-billing-info {
  display: grid;
}

.shopping-cart i {
  color: var(--color-blue);
}

.cart-part-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-last {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 15rem;
}

.flex-last p {
  margin: 0;
}

.cart-part-one img {
  max-width: 170px;
}

#quantity {
  max-width: 4.5rem;
  height: 2rem;
  text-align: center;
}
