.checkout-main {
  margin: auto;
  max-width: 1300px;
  width: 100%;
  padding: 0rem 5rem;
}

.checkout-main h1 {
  text-align: left;
  margin-top: 3rem;
}

.shopping-cart,
.shipping-billing-info,
.shipping-method,
.payment-method {
  background-color: var(--color-white);
  width: 100%;
  padding: 1rem;
}

.cart-container h2 {
  color: var(--color-blue);
}

.cart-container p,
.cart-container label {
  font-weight: var(--weight-large);
  font-size: var(--font-small);
}

.cart-container p {
  margin: 1rem 0rem;
}

.cart-container hr {
  background-color: var(--color-blue);
  opacity: 0.6;
  width: 100%;
}

.shipping-method label,
.payment-method label {
  color: var(--color-blue);
}

.shipping-billing-info {
  display: grid;
  justify-content: center;
}

.shipping-billing-info input {
  margin: 1rem 0.5rem;
}

.shipping-billing-info label {
  font-weight: var(--weight-small);
}

.shopping-cart i {
  color: var(--color-blue);
}

.cart-part-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-last {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 11rem;
}

.cart-part-one > * {
  flex: 1 1 0;
}

.flex-last p {
  margin: 0;
}

.cart-part-one img {
  max-width: 170px;
}

#quantity {
  max-width: 4.5rem;
  height: 2rem;
  text-align: center;
  margin-left: 1rem;
}

.cart-product-name,
.cart-product-size,
.cart-product-color,
.cart-shipping-price,
.cart-total-amount {
  display: flex;
  align-items: center;
}

.cart-shipping-price,
.cart-total-amount {
  justify-content: space-between;
}

.cart-product-name,
.cart-product-size,
.cart-product-color {
  gap: 1rem;
}

.cart-product-name {
  text-transform: uppercase;
}

.cart-container .description {
  font-weight: var(--weight-small);
  font-size: var(--font-x-small);
}

/* Custom checkbox */
.checkbox-container {
  display: block;
  padding-left: 2.5rem;
  margin: 1rem 0.5rem;
  position: relative;
  cursor: pointer;
  max-width: 23rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-blue);
}

.checkbox-container:hover input ~ .checkmark {
  background-color: var(--color-grey);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--color-blue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
