.contact-container {
  background-color: var(--color-white);
  display: flex;
  width: 920px;
  height: 542px;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 150px;
  top: 260px;
  box-shadow: var(--box-shadow);
}

.contact-container i {
  color: var(--color-blue);
  margin-right: 1rem;
}

.banner-logo {
  background-color: var(--color-orange);
  position: relative;
  height: 350px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.banner-logo img {
  width: 40%;
  opacity: 0.1;
  float: right;
  margin-top: 4rem;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-size: var(--font-small);
  margin-bottom: 100px;
}

.contact-info p {
  margin: 5px;
}

.location-info,
.phone-info,
.hours-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-form {
  display: flex;
  align-items: center;
}

.contact-form input,
textarea {
  width: 370px;
  padding: 0.6rem;
}

.contact-form input[type="submit"] {
  border: none;
  color: var(--color-white);
  background-color: var(--color-blue);
  width: 220px;
  font-weight: var(--weight-medium);
  padding: 0.8rem;
}

.contact-form textarea {
  font-family: var(--font-main);
}
