.home-banner {
  background-image: url(/assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  background-position: center;
}

.home-banner div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-third);
  color: var(--color-blue);
}

.banner-p {
  text-transform: uppercase;
  font-size: 5.3rem;
  margin: 0;
  margin-top: 3.4rem;
}

.banner-motto {
  margin: 0;
  font-size: 1.6rem;
}

.home-cta {
  background-color: var(--color-orange);
  padding: 20px 70px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.7em;
}

.home-cta:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.cta-container {
  margin-top: 4rem;
}

.home-content {
  display: flex;
  justify-content: center;
  margin: 7rem 3rem;
  gap: 10rem;
  margin-bottom: 10rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  font-size: 2rem;
  font-weight: 400;
}

.home-content-p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.featured-products {
  display: flex;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.background-div {
  background-color: var(--color-white);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.background-div p {
  margin: 0;
  text-align: center;
  color: var(--color-blue);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.div-border {
  border: 1px solid #0f224773;
  padding: 1rem;
  background-color: transparent;
}

.featured-products img {
  width: 17rem;
}
