.individual-main {
  max-width: 1300px;
  margin: 2rem 0rem;
  margin-right: auto;
  margin-left: auto;
}

.fleece-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.product-img-border {
  border: 1px solid var(--color-blue);
  padding: 1.5rem;
  max-height: 675px;
}

.product-img-background {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: var(--radius-standard);
}

.product-img-border img {
  max-width: 500px;
}

.individual-main h1 {
  color: black;
  text-transform: uppercase;
  font-size: var(--font-large);
  font-weight: var(--weight-large);
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.review-container .fa-solid {
  color: var(--color-orange);
}

.individual-main h2 {
  text-transform: uppercase;
  font-weight: var(--weight-small);
  margin: 0;
}

.product-description p {
  font-size: var(--font-small);
  line-height: var(--line-height);
  margin: 2.5rem 0rem;
}

.page-info {
  font-size: var(--font-form);
  font-weight: var(--weight-medium);
}

.product-choice {
  font-size: var(--font-small);
  font-weight: var(--weight-large);
  margin-top: 0;
}

.size-guide {
  font-size: var(--font-x-small);
  text-decoration: underline;
  margin-top: 0;
}

.size-guide:hover {
  cursor: pointer;
}

.info-links a {
  color: black;
  text-decoration: underline;
}

.info-links a:hover {
  color: var(--color-orange);
}

.product-add-to-cart {
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 1rem 4rem;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-size: var(--font-medium);
  font-weight: var(--weight-large);
  margin: 1rem 0rem;
}

.product-add-to-cart:hover {
  background-color: var(--color-blue);
  cursor: pointer;
}

/* Custom radio button */
.color-selector,
.size-selector {
  margin: 0;
}

.color-selector {
  display: flex;
  gap: 3rem;
}

.color-container {
  display: block;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: var(--font-small);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-green,
.radio-black {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #6a5e43;
  border-radius: 50%;
}

.radio-black {
  background-color: black;
}

.color-container:hover input ~ .radio-green,
.color-container:hover input ~ .radio-black {
  border: 3px solid var(--color-white);
}

.color-container input:checked ~ .radio-green,
.color-container input:checked ~ .radio-black {
  border: 3px solid var(--color-white);
}
