.jackets-main {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

.jackets-main h1 {
  margin-left: 1rem;
}

.products-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem 0rem;
}

.jackets {
  border: 1px solid var(--color-border);
  max-width: 350px;
  height: 530px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.jacket-img {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-standard);
  width: 100%;
}

.jacket-product-image {
  width: 100%;
  max-width: 250px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-img {
  background-image: url(/assets/images/levi-kyiv-ho-IQ17ig24-unsplash2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 530px;
  box-shadow: var(--box-shadow);
}

.responsive-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.5rem;
}

.product-details {
  display: flex;
  gap: 1.5rem;
}

.color-detail {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}

.product-p {
  margin: 0.5rem 0rem;
  font-size: var(--font-form);
}

.jacket-img .product-name {
  text-transform: uppercase;
  color: var(--color-blue);
  font-weight: var(--weight-large);
}

.color-detail p {
  font-size: var(--font-x-small);
}

/* Product buttons */
.add-to-cart {
  color: var(--color-white);
  background-color: var(--color-orange);
  border: none;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

.buttons a {
  background-color: var(--color-blue);
  padding: 0.35rem 1.5rem;
  text-transform: uppercase;
  font-weight: var(--weight-medium);
}

.buttons {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0rem;
  justify-content: center;
}

/* Color circles */
.circle-green {
  color: #6a5e43;
}

.circle-black {
  color: black;
}

.circle-navy {
  color: var(--color-blue);
}

.circle-grey {
  color: #585858;
}

.circle-tan {
  color: #877150;
}

.circle-red {
  color: #9d0a0a;
}

.circle-dark-green {
  color: #093105;
}

.gradicon-orange-grey {
  fill: url(#lgrad);
}

.gradicon-black-white {
  fill: url(#lgrad2);
}

.gradicon-red-black {
  fill: url(#lgrad3);
}

.gradicon-blue-white {
  fill: url(#lgrad4);
}
