@import url("./_header.css");
@import url("./_home-main.css");
@import url("./_footer.css");
@import url("./_about.css");
@import url("./_variables.css");

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-grey);
}

header,
footer {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: var(--font-second);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  border-bottom: 1px solid var(--color-white);
}

h1 {
  color: var(--color-blue);
  font-size: var(--font-large);
  font-weight: var(--weight-large);
  margin: 0;
}
