@import url("./_header.css");
@import url("./_home-main.css");
@import url("./_footer.css");
@import url("./_about.css");
@import url("./_variables.css");

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-grey);
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

header,
footer {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: var(--font-second);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

header a:hover,
footer a:hover {
  border-bottom: 1px solid var(--color-white);
}

h1 {
  color: var(--color-blue);
  font-size: var(--font-large);
  font-weight: var(--weight-x-large);
  margin: 0;
}

.active {
  border-bottom: 1px solid var(--color-white);
}

.cta {
  background-color: var(--color-orange);
}

.cta:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}
